<h1> WHAZAAAAAAAAAAAAA </h1>
<ul>
  <li><%= @booking.kitty.public_key %></li>
  <li><%= @booking.user.email %></li>
  <li><%= @booking.start_date %></li>
  <li><%= @booking.end_date %></li>
</ul>

<p><%= link_to "Back TO ALL KITTIES", kitties_path, :class=>"teach-btn btn button-landing sticky-bottom" %></p>
