<main class="main-container">

  <div class="kitties-image-container">
    <div class="main-title">
      <h1>CryptoKitties</h1>
      <div class="secondary-title">
      <p>Collect and breed furrever friends!</p>
      </div>
      <div class="browse-all">
        <%= link_to 'BROWSE ALL KITTIES', kitties_path, :class=>"btn btn-primary btn-gradient button-landing sticky-bottom"%>
      </div>

      <div class="rectangle-info">
        <div class="index-egg-image">
          <img id="blue-egg" src="https://miro.medium.com/max/528/1*8FhC-Uxp7F-7iKJkp7N2aQ.gif" alt="https://miro.medium.com/max/528/1*8FhC-Uxp7F-7iKJkp7N2aQ.gif" class="transparent">
        </div>
        <div class="wrapped-proposition">
        <ul class="value-proposition">
            <li class="ValueProposition-item-1">
              <!-- <img class="ValueProposition-icon" src="./images/coins.svg"> -->
               <%= image_tag("coins.svg", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text">Buy & sell cats with our community</span>
            </li>
            <li class="ValueProposition-item-1">
              <!-- <img class="ValueProposition-icon" src="./images/giftbox.svg"> -->
              <%= image_tag("giftbox.svg", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text">Create collections & earn rewards</span>
            </li>
            <li class="ValueProposition-item-1">
              <!-- <img class="ValueProposition-icon" src="./images/game-console.svg"> -->
              <%= image_tag("game-console.svg", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text">Play games in the KittyVerse</span>
            </li>
            <li class="ValueProposition-item-2">
              <!-- <img class="ValueProposition-icon" src="./images/eggplant.svg"> -->
              <%= image_tag("eggplant.svg", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text">Breed adorable cats & unlock rare traits</span>
            </li>
            <li class="ValueProposition-item-2">
              <!-- <img class="ValueProposition-icon" src="./images/easter-egg.svg"> -->
              <%= image_tag("easter-egg.svg", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text">Chase limited edition Fancy cats</span>
            </li>
            <li class="ValueProposition-item-2">
              <!-- <img class="ValueProposition-icon" src="./images/rubiks.svg"> -->
              <%= image_tag("rubik.svg", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text">Crack puzzles alongside other players</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="grey-strip" style="background-image: url('<%=asset_path 'multi-icon-strip.png'%>')">
    <div class="what-is-box">
       <%= image_tag "https://media0.giphy.com/media/Jr3uf1HunOl0Two29g/giphy.gif?cid=790b7611393feb5aa1a2c90ef9f5e8c6cf98b03fb0316ce2&amp;rid=giphy.gif" %>
       <div class="what-is-title">
        <h2 class="explainer-headline">What is CryptoKitties?</h2>
        <p class="explainer-description">CryptoKitties is a game centered around breedable, collectible, and oh-so-adorable creatures we call CryptoKitties! Each cat is one-of-a-kind and 100% owned by you; it cannot be replicated, taken away, or destroyed.</p>
      </div>
    </div>
  </div>


</main>



<!-- LIST OF SRC LINKS FOR GIFS DO NOT REMOVE -->
<!--###########################################################################-->
<!-- FLOATING BITCOIN GOLANG ASTRONAUT = https://media1.giphy.com/media/WUVDEwPxTVJncK1tpL/giphy.gif?cid=790b76117465d7639b4910c58661247036622f77f289f466&amp;rid=giphy.gif -->
<!-- FLYING TURTLE CAT = https://media.giphy.com/media/depdGsu1hBKPit7i6e/giphy.gif -->
<!-- BREED ME BUTTON PUSH GIF = https://media0.giphy.com/media/OSQnHQzntU8OKNaS6S/giphy.gif?cid=790b76115aa67db836b05930526969985e2f2822a15a8a3c&amp;rid=giphy.gif-->

<!-- BREEDING GIF = https://media3.giphy.com/media/kiM6joT2QDnhi9cw6m/giphy.gif?cid=790b76117c530d24162592f5308164e593221003a1566108&amp;rid=giphy.gif -->
<!-- GIF BANNER PURPLE PINK = https://i.giphy.com/media/443fUnKjNcdNmlLai6/giphy.webp -->
<!--
src="https://media0.giphy.com/media/Jr3uf1HunOl0Two29g/giphy.gif?cid=790b7611393feb5aa1a2c90ef9f5e8c6cf98b03fb0316ce2&amp;rid=giphy.gif"  -->
<!-- <%= link_to "Browse Kitties", kitties_path %>-->


