<%= simple_form_for(kitty, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name, :class=>"rand-id"%>
    <a class="copy-text" id="copyTarget" >

      <p class="rand-id " style="text-align: center; font-size: 20px; color: #ef51d2;"> CLICK HERE TO GENERATE KEY  </p>
      <button id="copyButton"  , class="teach-btn btn button-landing sticky-bottom rand-id">Copy your public key </button>
    </a>

    <!--   <input type="text" id="copyTarget" value=""> <button id="copyButton"  , class="teach-btn btn button-landing sticky-bottom rand-id"=>Copy your public key </button> -->

    <%= f.input :public_key  %>



    <%= f.input :address %>
    <%= f.input :price, input_html: { value: kitty.price } %>
    <%= f.button :submit, :class=>"teach-btn btn button-landing sticky-bottom sweet-alert-demo" %>
  </div>

<% end %>
