<%= simple_form_for(kitty, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :public_key %>
    <%= f.input :address %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :price, input_html: { value: kitty.price } %>
    <%= f.button :submit, :class=>"teach-btn btn button-landing sticky-bottom sweet-alert-demo" %>
  </div>

<% end %>
