
<%= simple_form_for(kitty) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :public_key %>
    <%= f.input :address %>
    <%= f.input :price, input_html: { value: kitty.price } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>"teach-btn btn button-landing sticky-bottom" %>
  </div>
<% end %>
