<p id="notice"><%= notice %></p>

<h1>kitties</h1>



<div class="button-index">
  <% @kitties.each do |kitty| %>
      <%= kitty.first_name %>
      <%= link_to kitty do %>
        <button type="button" class="btn btn-danger btn-gradient button-landing sticky-bottom">SHOW</button>
      <% end %>
  <% end %>

</div>



<br>
<br>
<br>
<br>


<% if policy(Kitty).create? %>
  <%= link_to new_kitty_path do %>
    <button type="button" class="btn btn-danger btn-gradient button-landing sticky-bottom">NEW KITTY</button>
  <% end %>
<% end %>

<%= link_to root_path do %>
  <button type="button" class="btn btn-danger btn-gradient button-landing sticky-bottom">Home page</button>
<% end %>






