<p id="notice"><%= notice %></p>

<h1>kitties</h1>



<tbody>
  <% @kitties.each do |kitty| %>
    <tr>
      <td><%= kitty.first_name %></td>
      <td><%= link_to 'Show', kitty, :class=>"btn btn-danger btn-gradient button-landing sticky-bottom" %></td>
      <% if policy(kitty).edit? %>
        <td><%= link_to 'Edit', edit_kitty_path(kitty), :class=>"btn btn-danger btn-gradient button-landing sticky-bottom" %></td>
      <% end %>

      <% if policy(kitty).destroy? %>
        <td><%= link_to 'Destroy', kitty, method: :delete, data: { confirm: 'Are you sure you want to delete this lovely kitty ???' }, :class=>"btn btn-danger btn-gradient button-landing sticky-bottom" %></td>
      <% end %>

    </tr>
  <% end %>
</tbody>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div
  id="map"
  style="width: 100%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<br>
<br>
<br>
<br>

<% if policy(Kitty).create? %>
  <%= link_to 'New KITTY', new_kitty_path, :class=>"btn btn-danger btn-gradient button-landing sticky-bottom" %>
<% end %>

<%= link_to 'Home page', root_path, :class=>"btn btn-danger btn-gradient button-landing sticky-bottom" %>




