<!-- email: 'airtop@gmail.com', password: 'airtop'
 -->

<!-- <p id="notice"><%= notice %></p>

<h1>kitties</h1>

<div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead> -->

<!-- <div class="grey-strip" style="background-image: url('/assets/multi-icon-strip-a59adcfe7b76762eb378902d7dfd84916270fd67cb8e27ec36df5e3bb7ecb779.png')"> -->


  <div class="container">


<br>
<div id="container-index"  >

  <div class="main-button" style="margin:auto;">

    <%= link_to "WANT TO ADD A NEW KITTY ?", new_kitty_path, :class=>"teach-btn btn button-landing sticky-bottom " %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>





  <div style="background-image: url('/assets/multi-icon-strip-a59adcfe7b76762eb378902d7dfd84916270fd67cb8e27ec36df5e3bb7ecb779.png')">
    <div class="container">
      <div class="row">
        <% @kitties.each do |kitty| %>
          <%= link_to kitty, class: 'card' do %>
            <div>
              <h3 class="title"><%= kitty.first_name %> <%= kitty.last_name %></h3>
              <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
              </div>
              <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                      <img class="golang" src="https://media1.giphy.com/media/WUVDEwPxTVJncK1tpL/giphy.gif?cid=790b76117465d7639b4910c58661247036622f77f289f466&amp;rid=giphy.gif">
                    <!-- <circle class="stroke" cx="60" cy="60" r="50"/> -->
                  </svg>
                  </div>

            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>



  <div class="main-button" style="margin:auto;">

    <%= link_to "ยก DO NOT CLICK HERE !", kitty_donate_path, :class=>"button teach-btn btn button-landing sticky-bottom " %>


  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div
  id="map"
  style="width: 80%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
 ></div>





</div>








