<p id="notice"><%= notice %></p>

<h1>kitties</h1>



<div class="button-index">
  <% @kitties.each do |kitty| %>
    <%= kitty.first_name %>
    <%= link_to "SHOW", kitty, :class=>"btn btn-danger btn-gradient button-landing sticky-bottom"%>
  <% end %>
</div>



<br>
<br>
<br>
<br>


<% if policy(Kitty).create? %>
  <%= link_to "NEW KITTY", new_kitty_path, :class=>"btn btn-danger btn-gradient button-landing sticky-bottom"%>
<% end %>

<%= link_to "Home page", root_path, :class=>"btn btn-danger btn-gradient button-landing sticky-bottom" %>





