<!-- email: 'airtop@gmail.com', password: 'airtop'
 -->

<!-- <p id="notice"><%= notice %></p>

<h1>kitties</h1>

<div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead> -->

<!-- <div class="grey-strip" style="background-image: url('/assets/multi-icon-strip-a59adcfe7b76762eb378902d7dfd84916270fd67cb8e27ec36df5e3bb7ecb779.png')"> -->
<br>

<%= link_to "WANT TO ADD A NEW KITTY ?", new_kitty_path, :class=>"teach-btn btn button-landing sticky-bottom " %>
<br>
<br>
<br>






  <div class="container">
    <div class="row">
      <% @kitties.each do |kitty| %>
        <div class="card" style="margin-bottom: 15px;">
          <h3 class="title"><% kitty.first_name %><%= kitty.last_name %></h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle class="stroke" cx="60" cy="60" r="50"/>
            </svg>
          </div>
            <h3><%= link_to 'Show', kitty, :class=>"btn btn-primary btn-gradient button-landing sticky-bottom" %></h3>
            <% if policy(kitty).edit? %>
              <h3><%= link_to 'Edit', edit_kitty_path(kitty), :class=>"btn btn-primary btn-gradient button-landing sticky-bottom" %></h3>
              <% end %>
              <% if policy(kitty).destroy? %>
                <h3><%= link_to 'Destroy', kitty, method: :delete, data: { confirm: 'Are you sure you want to delete this lovely kitty ???' }, :class=>"btn btn-primary btn-gradient button-landing sticky-bottom" %></h3>>
              <% end %>
        </div>


      <% end %>
    </div>
  </div>



</div>



<div
  id="map"
  style="width: 40%;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>"
></div>

<br>
<br>




<div
  id="map"
  style="width: 100%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>








