<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @kitty.first_name %>
  <%= @kitty.last_name %>
</p>

<p>
  <strong>Address and OWNER ID:</strong>
  <%= @kitty.public_key %>
  <%= @kitty.owner_id %>
</p>

<br>
<br>


<div class="maint-container">
  <div class="wrapper">
    # gobal structure and then add all you element
    <div class="image-kitty">
      <img class="KittyBanner-image" src="https://img.cryptokitties.co/0x06012c8cf97bead5deae237070f9587f8e7a266d/1403605.svg" alt="Kitty #1403605 - 🧬 Gen 1 H1 Gene Swap" style="height: 200px; width: 200px;">
    </div>
  </div>
</div>

<% if policy(@kitty).edit? %>
  <%= link_to 'Edit the KITTY', edit_kitty_path(@kitty) %> |
<% end %>
<%= link_to 'Back to all KITTY page', kitties_path %>  |
<% if policy(@kitty).destroy? %>
  <td><%= link_to 'Destroy', @kitty, method: :delete, data: { confirm: 'Are you sure you want to delete this lovely kitty ???' } %></td>
<% end %>





