<div class="grey-strip-show" style="background-image: url('/assets/multi-icon-strip-a59adcfe7b76762eb378902d7dfd84916270fd67cb8e27ec36df5e3bb7ecb779.png')">
  <div class="family-foto" style="background-image: url('<%=asset_path 'familyfoto.png'%>')">
    <div class="card show-card">
      <h3 class="title"><%= @kitty.first_name %> <%= @kitty.last_name %></h3>
    <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>

      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">

          <img class="golang" src="https://media1.giphy.com/media/WUVDEwPxTVJncK1tpL/giphy.gif?cid=790b76117465d7639b4910c58661247036622f77f289f466&amp;rid=giphy.gif">
        <!-- <circle class="stroke" cx="60" cy="60" r="50"/> -->
        </svg>
      </div>
    </div>
  </div>

</div>



<div class="rectangle-info-show">
        <div class="wrapped-proposition">
        <ul class="value-proposition">
            <li class="ValueProposition-item-1">
              <%= image_tag "shield.png", alt: "alttext", style: "width:50px;" %>
              <span class="ValueProposition-text"> →  Kitty defense</span>
            </li>
            <li class="ValueProposition-item-1">
              <%= image_tag("sword.png", {:style => "width:50px;"}) %>

              <!-- <img style="width:50px;" src="/assets/sword.png"> -->
              <span class="ValueProposition-text"> →  Kitty attack power</span>
            </li>
            <li class="ValueProposition-item-1">
              <%= image_tag("poison.png", {:style => "width:50px;"}) %>
              <!-- <img style="width:50px;" src="/assets/poison.png"> -->
              <span class="ValueProposition-text"> → Kitty spell power</span>
            </li>
            <li class="ValueProposition-item-2">
              <!-- <img class="ValueProposition-icon" src="./images/eggplant.svg"> -->
              <%= image_tag("diamond.png", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text"> → Kitty rarity</span>
            </li>
            <li class="ValueProposition-item-2">
              <!-- <img class="ValueProposition-icon" src="./images/easter-egg.svg"> -->
              <%= image_tag("gene.png", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text"> → Gene Family</span>
            </li>
            <li class="ValueProposition-item-2">
              <!-- <img class="ValueProposition-icon" src="./images/rubiks.svg"> -->
              <%= image_tag("metrics.png", {:style => "width:50px;"}) %>
              <span class="ValueProposition-text"> → Kitty Metrics</span>
            </li>
          </ul>
        </div>
      </div>
  <img tabindex="0" src="https://blobscdn.gitbook.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-LDEPuIyx4-9-g-s2etn%2F-LVEgZYPv9AwH3sTz5hH%2F-LVEgbq_g_XAAFBXRW-U%2FCK_GitbookGraphics_v3-46.jpg?alt=media&amp;token=c349eec4-7062-4c04-934a-dea43295a475" class="imgTag-b489daf6" style="cursor: zoom-in; height: 700px; width: 100%;position: relative;top: -280px;">
<div class="kitty-dash">
<!--   <img src="/assets/ethereum.png" style="height: 150px"> -->
  <img src="https://news.bitcoin.com/wp-content/uploads/2016/05/Ethereum-300x300.png" alt="ethereum" width="320" height="320">
</div>

<div class="wrapper" style="display: flex;   flex-direction: column;   align-items: center;
">


  <div class="buy-kitty">
      <h2 style="text-align: center; color: #ef51d2; margin-top: 20px;">Would you like to Purr-chase this Kitty?</h2>

      <%= link_to "Book kitty", new_kitty_booking_path(@kitty), :class=>"teach-btn btn button-landing sticky-bottom"  %>
      <%= link_to "View booked Kitties", kitty_bookings_path(@kitty), :class=>"teach-btn btn button-landing sticky-bottom"%>
  </div>


  <div
    id="map"
    style="width: 40%;
    height: 200px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>
<div class="header">
  <div id="showbc">
    <%= link_to 'Back to all Kitty page', kitties_path, :class=>"teach-btn btn button-landing sticky-bottom"%>
    <%= link_to "Back to home page", root_path, :class=>"teach-btn btn button-landing sticky-bottom" %>
    <% if policy(@kitty).destroy? %>
      <%= link_to 'Destroy', @kitty, method: :delete, :class=>"teach-btn btn button-landing sticky-bottom", data: { confirm: 'Are you sure you want to delete this lovely kitty ???' } %>
    <% end %>
<!--   </div> -->
</div>

<div class="review-kitty">
  <h2 style="text-align: center; color: white; margin-top: 20px;">Reviews of this Kitty</h2>
  <ul>
    <% @kitty.reviews.each do |review| %>
      <li><h2><%= review.content %> Rating: <%= review.rating %></h2></li>
    <% end %>
  </ul>
  <div class="size-button" style="font-size: 50px;" >
    <p><%= link_to "Review this Kitty", new_kitty_review_path(@kitty), :class=>"teach-btn btn button-landing sticky-bottom"  %></p>

          <div class="block">
       <input type="radio" name="rating" id="rating-1"><!--
    --><label for="rating-1" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-2"><!--
    --><label for="rating-2" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-3" checked><!--
    --><label for="rating-3" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-4"><!--
    --><label for="rating-4" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-5"><!--
    --><label for="rating-5" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-6"><!--
    --><label for="rating-6" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-7"><!--
    --><label for="rating-7" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-8"><!--
    --><label for="rating-8" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-9"><!--
    --><label for="rating-9" class="rating"></label><!--
    --><input type="radio" name="rating" id="rating-10"><!--
    --><label for="rating-10" class="rating"></label><!--
    -->
    </div>

  </div>
</div>




<!--Content before waves-->
<div class="inner-header flex" style="height: 300px;">
<!--Just the logo.. Don't mind this-->
  <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
  <g>
    <path fill="#fff"
  d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
  C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
  c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7    c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2  c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
  </g>
</div>

<!--Waves Container-->
<div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
  </svg>
</div>
<!--Waves end-->

