<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kitty.first_name %>
  <%= @kitty.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @kitty.public_key %>
</p>

<%= link_to 'Edit', edit_kitty_path(@kitty) %> |
<%= link_to 'Back', kitties_path %>
