<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">

      <h1>ADD A REVIEW TO THIS LOVELY KITTY</h1>

      <%= simple_form_for [@kitty, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, as: :integer %>
        <%= f.submit "Add a review :)" %>
      <% end %>

      <p><%= link_to @kitty.title, kitty_path(@kitty) %></p>
    </div>
  </div>
</div>
